<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="prj.mapper.UserExamQuestionMapper">

	<resultMap id="BaseResultMap" type="prj.entity.UserExamQuestion">
		<id column="id" property="id" />
        <result column="userexam_id" property="userexamId" />  
        <!--
        <association property="userexam" column="userexam_id" select="getUserExam"/>  
        <select id="getUserExam" parameterType="int" resultType="prj.entity.UserExam">  
            SELECT user_exam.* FROM user_exam WHERE id=#{id}  
        </select>
        -->
        <result column="question_id" property="questionId" />  
        <!--
        <association property="question" column="question_id" select="getQuestion"/>  
        <select id="getQuestion" parameterType="int" resultType="prj.entity.Question">  
            SELECT question.* FROM question WHERE id=#{id}  
        </select>
        -->
		<result column="score" property="score" />
		<result column="qscore" property="qscore" />
		<result column="correct_answer" property="correctAnswer" />
		<result column="answer" property="answer" />
		<result column="is_right" property="isRight" />
		<result column="is_deleted" property="isDeleted" />
		<result column="is_mark" property="isMark" />
		<result column="total_qty" property="totalQty" />
		<result column="answer_qty" property="answerQty" />
		<result column="explain_text" property="explainText" />
        <association property="userexam" column="userexam_id" select="prj.mapper.UserExamMapper.selectById"></association>
        <!--
        <association property="userexam" column="userexam_id" select="getUserExam"/>  
        <select id="getUserExam" parameterType="int" resultType="prj.entity.UserExam">  
            SELECT user_exam.* FROM user_exam WHERE id=#{id}  
        </select>
        -->
        <association property="question" column="question_id" select="prj.mapper.QuestionMapper.selectById"></association>
        <!--
        <association property="question" column="question_id" select="getQuestion"/>  
        <select id="getQuestion" parameterType="int" resultType="prj.entity.Question">  
            SELECT question.* FROM question WHERE id=#{id}  
        </select>
        -->
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, userexam_id AS userexamId, question_id AS questionId, score, correct_answer AS correctAnswer, answer, is_right AS isRight, is_deleted AS isDeleted, is_mark AS isMark, total_qty AS totalQty, answer_qty AS answerQty, explain_text AS explainText, userexam_id AS userexamId, question_id AS questionId
    </sql>
</mapper>